/* font-family: Heebo; */

* {
    margin: 0;
    padding: 0;
}
/* body {
    width: 1553px;
    background: #28ad1b62;
} */
.container {
    width: 1152px;
    margin: 0 auto;
    background: #FFF;
}
.header,
.hero1,
.hero2,
.hero3,
.footer {
    padding: 0 148px 0 148px;
}

/* ------------------ header ----------- */
.header {
    padding: 27px 60px 27px 826px;
}
.clas {
    display: flex;
    gap: 45px;
}
.header a {
    text-decoration: none;
    width: 71px;
    height: 43px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.header a:hover {
    color: #FF6464;
}
.burger {
    display: none;
}

/* ------------- hero ---------------- */
/* .hero {
    height: 600px;
} */

/* ---------------- hero1 --------------- */
.hero1 {
    display: flex;
}
.hero1-text h1 {
    margin-top: 208px;
    width: 506px;
    height: 105px;
    color: var(--dark-color, #21243D);
    font-size: 44px;
    font-weight: 700;
}
.hero1-text p {
    margin-top: 40px;
    width: 497px;
    height: 66px;
    color: var(--dark-color, #21243D);
    font-size: 16px;
    font-weight: 400;
}
.hero1-text button {
    margin-top: 38px;
    margin-bottom: 70px;
    padding: 9px 19px 17px 19px;
    width: 208px;
    height: 47px;
    border-radius: 2px;
    background: var(--primary, #FF6464);
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.hero1 button:hover {
    background: #FFF;
    color: #FF6464;
}
.hero1-img {
    margin: 190px 149px 142px 115px;
    width: 170.859px;
    height: 170.859px;
    border-radius: 170.859px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

/* ------------------ hero2 ---------------- */
.hero2 {
    height: 396px;
    background: #EDF7FA;
}
.recent-rekl {
    display: flex;
}
.recent-rekl h1 {
    margin-top: 17px;
    width: 133px;
    color: var(--dark-color, #21243D);
    font-size: 22px;
    font-weight: 400;
}
.recent-rekl a {
    margin: 17px 0 0 670px;
    color: var(--secondry, #00A8CC);
    font-size: 16px;
    font-weight: 400;
    width: 56px;
    height: 20px;
    text-decoration: none;
}
.recent-block {
    display: flex;
    gap: 20px;
}
.recent-block-left,
.recent-block-right {
    margin-top: 20px;
    padding: 24px 21px 20px 22px;
    width: 418px;
    height: 245px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}
.recent-block-left h1,
.recent-block-right h1 {
    width: 374px;
    height: 85px;
    color: var(--dark-color, #21243D);
    font-size: 26px;
    font-weight: 700;
}
.recent-block-left h5,
.recent-block-right h5 {
    margin-top: 17px;
    width: 374px;
    height: 34px;
    color: var(--dark-color, #21243D);
    font-size: 18px;
    font-weight: 400;
}
.recent-block-left p,
.recent-block-right p {
    margin-top: 11px;
    width: 374px;
    height: 117px;
    color: var(--dark-color, #21243D);
    font-size: 16px;
    font-weight: 400;
}

/* ----------------- hero3 ---------------- */
.works h3 {
    padding-top: 35px;
    color: var(--dark-color, #21243D);
    font-size: 22px;
    font-weight: 400;
}
.work1 {
    display: flex;
    gap: 18px;
}
.work-img img {
    margin-top: 30px;
    width: 246px;
    height: 180px;
    border-radius: 6px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.work-text h2 {
    margin-top: 20px;
    color: var(--dark-color, #21243D);
    font-size: 30px;
    font-weight: 700;
}
.dash {
    margin-top: 15px;
    display: flex;
    gap: 36px;
}
/* .dash h3 {
    width: 62px;
    height: 25px;
    border-radius: 16px;
    background: #ffffff;
} */
.dash p {
    font-size: 18px;
    font-weight: 900;
}
.dash h5 {
    width: 374px;
    height: 34px;
    color: var(--light, #8695A4);
    font-size: 20px;
    font-weight: 400;
}
.work-p p {
    margin-top: 30px;
    width: 594px;
    height: 93px;
    color: var(--dark-color, #21243D);
    font-size: 16px;
    font-weight: 400;
}
hr {
    stroke-width: 1px;
    stroke: var(--gray-5, #E0E0E0);
    width: 858px;
    height: 0px;
}

/* ----------------------- footer ------------- */
.footer {
    height: 250px;
}
.social {
    padding: 130px 0 0 312px;
    display: flex;
    gap: 35px;
}
.copi {
    margin-top: 26px;
    padding-bottom: -100px;
    color: var(--dark, #21243D);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}